.header__links {
	display: flex;
	margin-top: 46px;
	font-size: 24px;
	line-height: 28px;
	padding: 0;
	list-style: none;
}

.header__links li:first-child {
	margin-right: 18px;
}

.header__links a {
	color: inherit;
}

.header__links a[lang="es"] {
	text-decoration: none;
}
