.place__image {
	max-width: 460px;
	object-fit: contain;
	margin: 0 40px 0 0;
	align-self: flex-start;
}

@media screen and (max-width: 1024px) {
	.place__image {
		margin-right: 32px;
		max-width: 440px;
	}
}

@media screen and (max-width: 768px) {
	.place__image {
		margin-right: 28px;
		max-width: 340px;
	}
}

@media screen and (max-width: 320px) {
	.place__image {
		width: 100%;
		padding-bottom: 32px;
		margin: 0;
	}
}
