.cover__subtitle {
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  margin: 0 auto;
  width: 320px;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.1;
    width: 288px;
  }
}
