.cover__overlay {
  background-image: url('../../../images/__overlay.png');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
}
.cover__overlay:hover {
  opacity: 0.8;
  transition: opacity 250ms linear;
  cursor: pointer;
}
