@import url(./__author/footer__author.css);
@import url(./__link/footer__link.css);
@import url(./__nav/footer__nav.css);

.footer {
	max-width: 1184px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding-top: 92px;
	padding-bottom: 24px;
}

@media screen and (max-width: 768px) {
	.footer {
		padding-top: 88px;
		padding-left: 24px;
		padding-right: 24px;
	}
}

@media screen and (max-width: 320px) {
	.footer {
		padding-top: 64px;
		padding-left: 16px;
		flex-direction: column;
	}
}
